*{
   box-sizing: border-box;
}



.fondo {
  height: 100%;
  background: linear-gradient(to bottom right, #dbeafe, #fef9c3);
}


.titulo {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.resumen-gastos {
  text-align: center;
}

.noti-titulo {
  margin-top: 8px;
  font-weight: bold;
}

/* Sección para el gráfico circular */
.dashboard {
  width: 100%;
  max-width: 300px;
  margin: 0;
}
 
@media (min-width: 768px) {
  .home-contenedor {
    max-width: 1600px; /* o 640px, 720px, según lo que prefieras */
    border-radius: 30px 30px 0px 0px; /* bordes iguales en PC para estética */
  }
}