.gasto-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;
  position: relative;
}

.gasto-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gasto-proveedor {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.gasto-vehiculo {
  font-size: 0.9rem;
  font-style: italic;
  color: #666;
}

.gasto-fecha,
.gasto-nota,


.gasto-items {
  list-style-type: disc;
  padding-left: 16px;
  margin: 8px 0;
}

.gasto-button-eliminar {
  background: #ff4d4f;
}

.gasto-button-eliminar:hover {
  background: #d9363e;
}

.gasto-button-modificar {
  background: #ffa600;
}

.gasto-button {
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.gasto-button-modificar:hover {
  background: #a16100;
}

.gasto-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.gasto-buttons {
  display: flex;
  gap: 10px;
}